# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
*.env

# Django
*.log
local_settings.py


# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de ambiente virtual
pip-log.txt
pip-delete-this-directory.txt

# Archivos de distribución
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/ 