{% extends 'stock_smart/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Instrucciones de Transferencia Bancaria</h4>
                </div>
                <div class="card-body">
                    <h5>Número de Orden: {{ order.order_number }}</h5>
                    <h5>Total a Pagar: ${{ order.total_amount|format_price }}</h5>
                    
                    <hr>
                    
                    <h6>Datos Bancarios:</h6>
                    <ul class="list-unstyled">
                        <li><strong>Banco:</strong> {{ bank_info.bank_name }}</li>
                        <li><strong>Tipo de Cuenta:</strong> {{ bank_info.account_type }}</li>
                        <li><strong>Número de Cuenta:</strong> {{ bank_info.account_number }}</li>
                        <li><strong>RUT:</strong> {{ bank_info.rut }}</li>
                        <li><strong>Email:</strong> {{ bank_info.email }}</li>
                    </ul>
                    
                    <div class="alert alert-info mt-3">
                        <h6>Instrucciones:</h6>
                        <ol>
                            <li>Realiza la transferencia por el monto exacto</li>
                            <li>Envía el comprobante al email indicado</li>
                            <li>Incluye el número de orden en el asunto del email</li>
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
